core
*.mat
*.mex*
*.pyc
*.tgz
*.so
*.o
*.png
*.jpg
*.bmp
*.ckpt.*
*.py~
*.html
output/*
lib/icp/icp_main.cpp
data/LOV/*
data/RGBDScene/*
data/cache/*
data/linemod/*
data/sintel/*
data/*
*/.idea/*
*backup*
temp/*
cmake-build-debug/*
lib/triplet_flow_loss/.idea/*
